/* 클릭효과 */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.click {
  width: 250px;
  height: 60px;
  box-shadow: 5px 5px 5px #d5d5d5;
  border-radius: 50px 50px;
  background-color: #7f8c8d;
  font-size: 25px;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}
.photo {
  width: 220px;
  height: 220px;
}
.click:hover {
  background-color: #95a5a6;
}
.click:hover + .photo {
  transition: transform 0.5s ease-in-out;
  transform: rotate(360deg) scale(0.5, 0.5);
  border: solid 5px black;
}
