.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friend .friend__avatar {
  width: 50px;
  border-radius: 38%; /*이미지 크기가 바뀔거라서 픽셀로 못씀*/
}

.friend__avatar.g-avatar {
  /*두 클래스이름을 띄우지않고 쓰면 and(&)의 의미,
    두 클래스의 이름을 띄우고 쓰면 (예를 들어 .a .b) a클래스 안에 있는 b클래스만을 가리킴*/
  width: 70px;
}
.friend__avatar.m-avatar {
  width: 60px;
}
.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.friend__content .friend__badge {
  opacity: 0.5;
  font-size: 12px;
  margin-left: 3px;
}

.friend .friend__group {
  opacity: 0.5;
  font-size: 12px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 12px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}

.friend .friend__now-listening {
  border: 1.5px solid #52e084;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
}

.friend__now-listening span,
.friend__now-listening i {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 11px;
}

.friend__add-btn {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.friend .friend__email {
  opacity: 0.7;
  font-size: 12px;
}
