.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .header__title {
  font-size: 18px;
  font-weight: 600;
  left: 100px;
}

.header .header__icon {
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
.header .header__back-btn {
  font-size: 20px;
  margin-right: 20px;
}

.header .header__header-column {
  display: flex;
  justify-content: center;
}

.header .header__badge {
  font-size: 15px;
  position: fixed;
  right: 20px;
  top: 120px;
  background-color: aliceblue;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 2px rgba(128, 128, 128, 0.123);
  cursor: pointer;
}
